@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.WineReview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "_Layout.cshtml";
}

<div class="column col-12">
  <div class="hero hero-sm bg-dark">
    <div class="hero-body">
      <h1>
        @Model.Content.Name
      </h1>
      <div class="">
        @DisplayTag(Model.Content.Designation)
        @DisplayTag(Model.Content.Variety)
        @DisplayTag(Model.Content.Region)
        @DisplayTag(Model.Content.Province)
        @DisplayTag(Model.Content.Country)
        @DisplayTag(Model.Content.Winery)
      </div>
    </div>
  </div>
  <p>
    @Model.Content.Description
  </p>
  <p>
    @DisplayTaster()
  </p>
</div>

@helper DisplayTag(string tag)
{
  if (!string.IsNullOrWhiteSpace(tag))
  {
    <a href="#" class="chip">@tag</a>
  }
}

@helper DisplayTaster()
{
  var text = !string.IsNullOrWhiteSpace(Model.Content.TasterName) ? Model.Content.TasterName : Model.Content.TasterTwitter;
  var url = !string.IsNullOrEmpty(Model.Content.TasterTwitter) ? Model.Content.TasterTwitter : "#";
  <a href="@url.Replace("@", "https://twitter.com/")" target="_blank">@text</a>
}